.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;       
}

.field {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 44px;
}